<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>IPS Rules</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
    </head>
    <body>
        <div id="rulesmatch"></div>
        <div id="porthit"></div>
        <div>
            <table>
                <caption>Rules Matched</caption>
                <thead>
                  <tr>
                    <th>IP</th>
                    <th>Ports</th>
                  </tr>
                </thead>
                <tbody>
                    {% for remote_ip,ports in matches.items() %}
                    <tr>
                        <td data-label="IP"><h3>{{ remote_ip }}</h3></td>
                        <td data-label="Ports">
                            <table>
                                <thead>
                                <tr>
                                    <th>Protocol/Port</th>
                                    <th>Rules</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for port_name,rules in ports.items() %}
                                    <tr>
                                        <td data-label="IP"><h4>{{ port_name }}</h4></td>
                                        <td data-label="Ports">
                                            <ul>
                                                {% for rule_name,count in rules.items() %}
                                                    <li><strong>{{ rule_name }}:</strong> {{ count }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                  
                </tbody>
            </table>
            
        </div>
        <script>

            const match_labels = [
            {% for item in match_insert_labels %}
                "{{ item }}",
            {% endfor %}
            ];
            const match_values = [
            {% for item in match_insert_values %}
                {{ item }},
            {% endfor %}
            ];

            var data = [
                {
                    x: match_values,
                    y: match_labels,
                    type: 'bar',
                    orientation: 'h',
                    // textinfo: "label+percent",
                    // textposition: "outside",
                    automargin : true,
                }
            ];
            var layout = {
                title: {
                    text: 'Rules matched for {{ today }}',
                    // automargin : true,
                },
                showlegend: false,
                height: 600,
                yaxis: {
                    automargin: true,
                }
            };

            Plotly.newPlot('rulesmatch', data, layout);

            const port_labels = [
            {% for item in port_insert_labels %}
                "{{ item }}",
            {% endfor %}
            ];
            const port_values = [
            {% for item in port_insert_values %}
                {{ item }},
            {% endfor %}
            ];

            var data = [
                {
                    x: port_labels,
                    y: port_values,
                    type: 'bar',
                    // textinfo: "label+percent",
                    // textposition: "outside",
                    // automargin : true,
                }
            ];
            var layout = {
                title: {
                    text: 'Top ports exploited for {{ today }}',
                    automargin : true,
                },
                showlegend: false,
                height: 600,
            };

            Plotly.newPlot('porthit', data, layout);
        </script>
    </body>
</html>